@inherits LayoutComponentBase

<AoPageLayout>
    <NavContent>
        <AoNavItem Href="/albums" Label="Albums" />
        <AoNavItem Href="/albums/add" Label="Add Album" />
        <AoNavSeparator />
        <AoNavItem Href="/artists" Label="Artists" />
        <AoNavSeparator />
        <AoNavItem Href="/task-queue" Label="Queued Tasks" />
        <AoNavItem Href="/logs" Label="View Logs" />
        <AoNavSeparator />
        <AoNavItem Href="/settings" Label="Settings" />
    </NavContent>
    <ChildContent>
        <AoCenter Horizontal>
            <div style="width:100%;max-width:1600px">
                @Body
            </div>
        </AoCenter>
    </ChildContent>
</AoPageLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
