@using Sellorio.AudioOracle.Web.Client.Library.Providers.DisableState

<span class="ao-text-input">
	<MudTextField T="string" Value="@Value" ValueChanged="OnValueChanged" Required="Required" MaxLength="MaxLength" Disabled="Disabled || DisableStateScope.IsDisabled" />
</span>

@code {
	[CascadingParameter]
	public required IDisableStateScope DisableStateScope { get; set; }

	[Parameter]
	public string? Value { get; set; }

	[Parameter]
	public EventCallback<string?> ValueChanged { get; set; }

	[Parameter]
	public bool Required { get; set; }

	[Parameter]
	public int MaxLength { get; set; } = 524288;

	[Parameter]
	public bool Disabled { get; set; }

	private async Task OnValueChanged(string? newValue)
	{
		Value = newValue;
		await ValueChanged.InvokeAsync(newValue);
	}
}
